<launch>
  
  <!-- required inputs when calling file -->
  <arg name="robot_ip" />

    <!-- calls the original xarm_planner_file for moveit -->
  <include file="$(find xarm_planner)/launch/xarm_planner_realHW.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="robot_dof" value="6" />
    <arg name="add_gripper" value="true" />
  </include>

  <!-- calls the ezgripper_control file -->
  <node name="ezgripper_control" pkg="gripper_control" type="ezgripper_control.py" launch-prefix="gnome-terminal --command" />
  
  <!-- calls the arm_control files -->
  <node name="control_server_node" pkg="arm_control" type="control_server_node" launch-prefix="gnome-terminal --command" />
  <node name="control_client_node" pkg="arm_control" type="control_client_node" launch-prefix="gnome-terminal --command" />

  <!-- calls the trash_picker_vision files -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true" />
  </include>

  <include file="$(find yolov5_ros)/launch/yolov5.launch" />
  
</launch>